<div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">

            <form #productFrom="ngForm" (ngSubmit)="addProduct(productFrom)">

                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Product Name</mat-label>
                <input 
                matInput 
                placeholder="Product Name"
                [(ngModel)]="product.productName"
                name="productName"> 
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Product Description</mat-label>
                <input 
                matInput 
                placeholder="Product Description"
                [(ngModel)]="product.productDescription"
                name="productDescription">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Product Actual Price</mat-label>
                <input
                matInput 
                placeholder="Product Actual Price"
                [(ngModel)]="product.productActualPrice"
                name="productActualPrice"> 
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                <mat-label>Product Discounted Price</mat-label>
                <input 
                matInput 
                placeholder="Product Discounted Price"
                [(ngModel)]="product.productDiscountedPrice"
                name="productDiscountedPrice"> 
                </mat-form-field>

                <div align="right">
                    <button mat-stroked-button color="primary" class="me-1">Clear</button>
                    <button mat-stroked-button type="submit" *ngIf="isNew" color="primary">Add Product</button>
                    <button mat-stroked-button type="submit" *ngIf="!isNew" color="primary">Update Product</button>
                </div>

            </form>

            </div>
            <div class="col-6">
                <div>
                    <input type="file" multiple value="select" #selectFile
                    (change)="onFileSelected(selectFile)"
                    >
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index">
                                <div class="imgPreview">
                                    <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
